@font-face {
   font-family: 'teko-light';
   font-display: swap;
   src: url('file:///C:/Users/Matthelzor/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-10-08_172410/fonts/teko-light/font.ttf');
}
